
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_customLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Site.css">

<div class="container" id="partial">

</div>

@section scripts{
    <script>

        $(document).ready(function () {
            $("#address").click(function () {
                $.ajax({
                    url: '@Url.Action("AddAddress")',
                    type: 'GET',
                    async: true,
                    error: function (xhr) {
                        alert('Error: ' + xhr.statusText);

                    },
                    success: function (result) {

                        $('#partial').html(result);
                    }
                });
            });

            $("#vehicle").click(function () {
                $.ajax({
                    url: '@Url.Action("AddVehicle")',
                    type: 'GET',
                    async: true,
                    error: function (xhr) {
                        alert('Error: ' + xhr.statusText);

                    },
                    success: function (result) {

                        $('#partial').html(result);
                    }
                });
            });

             $("#home").click(function () {
                $.ajax({
                    url: '@Url.Action("ViewAddress")',
                    async: true,
                    type: 'GET',
                    error: function (xhr) {
                        alert('Error: ' + xhr.statusText);
                    },
                    success: function (result) {

                        $('#partial').html(result);
                    }
                });
            });

        });

    </script>
}



